<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<form method="post" action="/createRateRule/createFile">
    country codes (逗号分隔)<input type="text" name="countryCodes"/>
    rate rule id 前缀<input type="text" name="prefix"/>
    <input type="submit" value="生成rate rule">
</form>
</body>
</html>